{% extends "blog/base.html" %}
{% block content %}
    <h1> Ensa Khouribga </h1>
    <p class="lead">
        Ce Blog est dedia tout les etudiants et specialement de L’Ecole Nationale des Sciences Appliquées de Khouribga est un établissement public relevait de l’Université Hassan 1er depuis sa création en 2007. Elle a pour objectif  la dynamisation de l’environnement socio-économique et la réponse aux besoins régionaux et nationaux en matière d’ingénierie. Elle s’inscrit dans le cadre de la décentralisation de l’enseignement supérieur.

    </p>

    <h2> Created by </h2>

        <!-- contacts card -->
        <div class="card card-default mb-4" id="card_contacts">
            <div id="contacts" class="panel-collapse collapse show" aria-expanded="true" >
                <ul class="list-group pull-down" id="contact-list">
                    <li class="list-group-item">
                        <div class="row w-100">
                            <div class="col-12 col-sm-6 col-md-3 px-0">
                                <img src="..\media\profile_pics\photo_1cZrfun.jpg" alt="El  Khalki El Mokhtar" height="130" width="130" class="rounded-circle mx-auto d-block img-fluid">
                            </div>
                            <div class="col-12 col-sm-6 col-md-9 text-center text-sm-left">
                                <span class="fa fa-mobile fa-2x text-success float-right pulse" title="online now"></span>
                                <label class="name lead">El Khalki El Mokhtar</label>
                                <br> 
                                <span class="fa fa-map-marker fa-fw text-muted " data-toggle="tooltip" title="" data-original-title="5842 Hillcrest Rd"></span>
                                <span class="text-muted ">elmokhtarkhalki@gmail.com</span>
                                <br><br>
                                <span class="fa fa-phone fa-fw text-muted" data-toggle="tooltip" title="" data-original-title="(870) 288-4149"></span>
                                <span class="text-muted ">+212 617 80 13 53</span>
                                
                            </div>
                        </div>
                    </li>
                    
                    
                </ul>
                <!--/contacts list-->
            </div>
        </div>
{% endblock content %}

